.home {
    height: 680px;
    width: 1350px;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 20px;
}
.logo img {
    width: 140px;
    margin-top: 10px;
    margin-left: 30px;
}
.search {
    border: 1px solid lightgray;
    
}

.home p {
    text-align: center;
    font-size: 40px;
}
.home .travel {
    text-align: center;
    
}
.home .search {
    width: 300px;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 12px;
    background-color: transparent;
    color: white;
}
.login {
    margin-right: 200px;
}
.bazar h1 {
    font-size: 40px;
    color: white;
}
.bazar p {
    font-size: 15px;
    color: rgb(165, 162, 162);
    text-align: justify;
}
.bazar .btn {
    width: 120px;
    padding: 8px;
    border: 1px solid orange;
    border-radius: 12px;
    background-color: transparent;
    color: block;
    background-color: orange;
}

.mr-auto {
    padding: 10px;
    margin-left: 100px;
    
}
.bd {
    margin-top: 150px;
}
.bazar {
    margin-right: 80px;
}
.card {
    border: 3px solid orange;
    border-radius: px;
    width: 200px;
    height: 300px;
    background-position: center center;
    background-size: 10% 10%;
    float: right;
    margin-left: 70px;
}
.card h4 {
    margin-top: 250px;
    text-decoration: none;
    color: whitesmoke;
}